.blog-details .card-blog-list-media {
  --height: 540px;
}

.blog-description * {
  margin: 0;
}

.blog-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-block-start: 40px;
}

:is(.blog-description) :is(p, div, a, li, span) {
  font-size: 18px;
}

blockquote {
  --icon-size: 60px;
  background: linear-gradient(
    90deg,
    rgba(32, 40, 45, 0.1) 0%,
    rgba(32, 40, 45, 0) 100%
  );
  font-size: 20px;
  padding: 28px;
  border-radius: 10px;
  display: flex;
  gap: 24px;
}

blockquote::before {
  content: url("/img/icons/icon-quote.svg");
  min-width: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
}

.blog-paired-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 30px;
}

.blog-paired-image img {
  border-radius: 18px;
  width: 100%;
  max-width: calc(50% - 30px / 2);
}

.blog-share {
  --color-border: rgba(93, 102, 111, 0.3);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 20px;
  padding: 18px 0;
  margin-block-start: 60px;
  border-top: var(--style-border-width) solid var(--color-border);
  border-bottom: var(--style-border-width) solid var(--color-border);
}

.blog-share-item {
  --item-padding: 7px 0;
  display: flex;
  gap: 14px;
}

.blog-share-item .label {
  padding: var(--item-padding);
}

.blog-share-item .social-link {
  --size-social: 20px;
  padding: var(--item-padding);
}

.blog-share-item .social-icons {
  gap: 14px;
  align-items: center;
}

.blog-share-item .subheading-bg {
  --color-foreground-subheading: rgba(28, 37, 57, 1);
  --color-background-subheading: rgba(255, 255, 255, 1);
  --color-border-subheading-bg: rgba(93, 102, 111, 0.3);
  transition: 0.3s;
}

.blog-share-item .subheading-bg:focus,
.blog-share-item .subheading-bg:hover {
  --color-foreground-subheading: rgba(255, 255, 255, 1);
  --color-background-subheading: rgba(28, 37, 57, 1);
  --color-border-subheading-bg: rgba(28, 37, 57, 1);
}

@media (max-width: 767px) {
  .blog-details .card-blog-list-media {
    --height: 300px;
  }

  :is(.blog-description) :is(p, div, a, li, span) {
    font-size: 16px;
  }

  blockquote {
    --icon-size: 36px;
    font-size: 18px;
    gap: 16px;
    padding: 24px 20px;
  }

  .blog-paired-image img {
    border-radius: 10px;
    max-width: 100%;
  }
}
