.featured-blog {
  --color-background: rgba(242, 242, 242, 1);
  --color-foreground: rgba(93, 102, 111, 1);
  --color-foreground-heading: rgba(28, 37, 57, 1);
  --color-foreground-subheading: rgba(93, 102, 111, 1);
  --color-background-subheading: rgba(255, 255, 255, 0);
  --color-border-subheading-bg: rgba(93, 102, 111, 0.3);
  background-color: var(--color-background);
  overflow: hidden;
}

.featured-blog .card-blog {
  --color-background: rgba(255, 255, 255, 1);
}

.featured-blog .buttons-discover {
  display: flex;
  justify-content: center;
  margin-block-start: 60px;
}

@media (max-width: 767px) {
  .featured-blog .buttons-discover {
    margin-block-start: 40px;
  }
}
