.text-lists .text-item {
  --color-foreground: rgba(28, 37, 57, 1);
}

.text-lists .text-item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.text-lists .text-item svg {
  min-width: 28px;
  height: 28px;
}

.text-lists .text-item:not(:first-child) {
  margin-block-start: 18px;
}

.image-text .media-wrap {
  display: flex;
  height: 100%;
  position: relative;
}

.image-text .media-wrap img {
  object-fit: contain;
}

/* Image text 2 */
.list-block .text-item {
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  max-width: 225px;
  margin: 0;
}

.list-block .text-item svg {
  min-width: 60px;
  height: 60px;
  display: flex;
}

.list-block .title {
  margin-block-start: 32px;
}

.list-block .text {
  margin-block-start: 20px;
}

.list-block {
  display: flex;
  align-items: center;
  gap: 30px;
}

.list-block .text-item {
  margin-block-start: 0;
}

.image-small {
  position: absolute;
  right: 0;
  bottom: 30px;
  z-index: 2;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(60px);
  box-shadow: 0px 30px 90px 0px #041f1f4d;
}

.image-small img {
  border-radius: inherit;
}

/* Text Image Sticky */
.text-image-sticky .section-headings-right {
  min-width: auto;
}

.text-image-sticky .image-text-card {
  position: sticky;
  padding: 60px 40px;
  background-color: var(--color-background);
}

.text-image-sticky .image-text-card {
  --position: calc(var(--header-height) + var(--top, 40px));
  background-color: var(--color-background);
  top: var(--position);
}

.text-image-sticky .image-text-card:nth-child(1) {
  --color-background: rgba(239, 238, 251, 1);
  --top: 40px;
}

.text-image-sticky .image-text-card:nth-child(2) {
  --color-background: rgba(235, 250, 165, 1);
  --top: 100px;
}

.text-image-sticky .image-text-card:nth-child(3) {
  --color-background: rgba(212, 230, 233, 1);
  --top: 160px;
}

@media (min-width: 992px) {
  .image-text .content {
    padding-inline-start: 32px;
  }
}

@media (min-width: 1400px) {
  .image-text .content {
    padding-inline-start: 55px;
  }
}

@media (max-width: 991px) {
  .image-text .content {
    padding-block-start: 60px;
  }

  .list-block .text-item svg {
    min-width: 48px;
    height: 48px;
  }
  .text-image-sticky .image-text-card {
    padding: 48px 24px;
  }
}

@media (max-width: 767px) {
  .image-text .content {
    padding-block-start: 40px;
  }

  .text-image-sticky .image-text-card {
    padding: 32px 16px;
  }
}

@media (max-width: 575px) {
  .image-small img {
    max-width: 140px;
  }
}
