project-slider {
  display: block;
  overflow: hidden;
}

project-slider .swiper-slide {
  height: auto;
}

.card-project {
  --color-foreground: rgba(255, 255, 255, 1);
  --color-foreground-heading: rgba(255, 255, 255, 1);
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  min-height: 360px;
}

.card-project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(28, 37, 57, 0) 0%, #1c2539 100%);
  transition: 0.5s;
  opacity: 0;
}

.card-project:hover::after {
  opacity: 1;
}

.card-project img {
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
}

.card-project-content-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  padding: 35px;
}

.card-project-content .heading + .text {
  margin-block-start: 10px;
}

.card-project-content {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.5s;
}

.card-project:hover .card-project-content {
  opacity: 1;
  transform: translateY(0px);
}

.icon-project-link {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s;
}

.card-project:hover .icon-project-link {
  opacity: 1;
  transform: scale(1);
}

.icon-project-link svg {
  --size: 52px;
  width: var(--size);
  height: var(--size);
}

@media (max-width: 767px) {
  .card-project-content-absolute {
    padding: 24px;
  }

  .slider-container .swiper {
    overflow: visible;
  }
}
