.promotion {
  --color-background: rgba(32, 40, 45, 1);
  --color-foreground: rgba(255, 255, 255, 1);
  --color-foreground-heading: rgba(255, 255, 255, 1);
  --color-foreground-subheading: rgba(255, 255, 255, 1);
}

.promotion .counter-item {
  --offset: -30px;
  --size: 220px;
  --color-background: rgba(62, 72, 78, 1);
}

.promotion .counter-item:nth-child(2) {
  --color-background: rgba(255, 255, 255, 1);
  --color-foreground: rgba(28, 37, 57, 1);
  --color-foreground-heading: rgba(93, 102, 111, 1);
}

.promtion-content .subheading.subheading-bg {
  --color-border: rgba(255, 255, 255, 0.2);
}

.promotion .button--secondary:focus,
.promotion .button--secondary:hover {
  --color-secondary-button-hover-border: rgba(255, 255, 255, 0.3);
}

.promotion {
  background-color: var(--color-background);
}

.promtion-content .subheading.subheading-bg {
  border:1px solid var(--color-border);
}

.promotion-lists {
  --color-background: rgba(62, 72, 78, 1);
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-background);
}

.promotion-item {
  --color-border: rgba(32, 40, 45, 1);
  padding: 30px 24px;
  width: 50%;
}

.promotion-title {
  display: flex;
  gap: 16px;
  align-items: center;
}

.promotion-text {
  margin-block-start: 18px;
}

.promotion-img {
  display: flex;
  overflow: hidden;
}

.promotion-img img {
  object-fit: cover;
  height: auto;
}

.promotion .counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--offset) * -1);
  width: var(--size);
  height: var(--size);
  background-color: var(--color-background);
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.promotion .counter-item:first-child {
  z-index: 3;
}

.promotion .counter-item:last-child {
  z-index: 1;
}

.promotion .counter-up .heading + .text {
  margin-block-start: 4px;
}

.counter-up-wrap {
  display: flex;
  justify-content: center;
}

.promotion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.counter-up-box {
  --color-background: rgba(242,242,242,1);
  --color-border: rgba(0, 0, 0, 0.1);
  border: var(--style-border-width) solid var(--color-border);
  padding: 40px 20px;
  background: var(--color-background);
}

.counter-up > div {
  width: 100%;
}

@media (min-width: 768px) {
  .promotion-item:nth-child(even) {
    border-left: 2px solid var(--color-border);
  }

  .promotion-item:nth-child(n + 3) {
    border-top: 2px solid var(--color-border);
  }
}

@media (min-width: 992px) {
  .promotion-img {
    height: 100%;
  }

  .promtion-content {
    padding-inline-end: 15px;
  }
}

@media (min-width: 1400px) {
  .promotion .counter-item:first-child {
    margin-block-end: var(--offset);
  }

  .promotion .counter-item:last-child {
    margin-block-start: var(--offset);
  }

  .promotion-img {
    height: 100%;
  }
}

@media (max-width: 1399px) {
  .promotion-container {
    flex-wrap: wrap;
  }

  .counter-up-wrap {
    width: 100%;
  }

  .promotion .counter-item:first-child {
    margin-inline-end: var(--offset);
  }

  .promotion .counter-item:last-child {
    margin-inline-start: var(--offset);
  }

  .promotion .counter-item {
    padding: calc(var(--offset) * -1 + 10px);
  }

  .counter-up {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  .promotion-img {
    margin-block-start: 40px;
  }

  .promotion-title br {
    display: none;
  }
}

@media (max-width: 767px) {
  .promotion .counter-item {
    --size: 200px;
    padding: calc(var(--offset) * -1);
  }

  .promotion .counter-item:first-child {
    margin-inline-end: 0;
    margin-block-end: var(--offset);
  }

  .promotion .counter-item:last-child {
    margin-inline-start: 0;
    margin-block-start: var(--offset);
  }

  .counter-up {
    flex-direction: column;
  }

  .promotion-item {
    width: 100%;
    padding: 24px 15px;
  }

  .promotion-item + .promotion-item {
    border-top: 2px solid var(--color-border);
  }
}
